/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/***** FOOTER SECTION ********/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.footer-section {
    background-color: #ffffff;
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-footer {
    max-width: 124rem;
    margin: 0 auto;
    padding-top: 9.9rem;
    padding-bottom: 10rem;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.socail-link {
    display: flex;
    gap: 1.6rem;

    list-style: none;
    margin-top: 3.2rem;
}

.copyright {
    font-weight: 400;
    font-size: 1.2rem;
    color: #64626a;
    margin-top: 10rem;
}

.footer-heading {
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.92rem;

    color: #3b3a40;
    margin-bottom: 1.7rem;
}

.footer-nav-box {
    list-style: none;

    display: flex;
    flex-direction: column;
}

.footer-link-nav {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3.4rem;

    color: #64626a;
}
