/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/***** HEADER NAVIGATION ********/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.more-feature-section {
    background-color: #ffffff;
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-mfeatures {
    max-width: 124rem;
    margin: 0 auto;

    margin-bottom: 20rem;
}

.subheading-mfeatures {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.16rem;
    color: #8e8c95;
    margin-bottom: 2.3rem;
}

.main-text-mfeature {
    width: 55%;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.76rem;
    color: #000000;
    margin-bottom: 7.2rem;
}

.mfeatures-box {
    display: grid;
    row-gap: 6.8rem;
    grid-template-columns: repeat(3, 1fr);
}

.mfeatures-icon {
    background-color: #d1e8ff;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
}

.mfeatures-icon-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
    color: #3b3a40;

    margin-top: 1.6rem;
}

.mfeatures-icon-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #64626a;

    margin-top: 1.1rem;
}

.mfeatures-icon-box {
    width: 60%;
}

.color--2 {
    background-color: #ffedb6;
}
