/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/***** REUSABLE STYLE ********/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Aileron", sans-serif;
}

html {
    font-size: 62.5%;
}

.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}
