/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/***** TESTIMONIAL SECTION ********/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.testimonial-section {
    background-color: #ffffff;
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-testimonial {
    max-width: 124rem;
    margin: 0 auto;

    padding-top: 11.7rem;
    padding-bottom: 12rem;
}

.testimonial-heading {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #64626a;

    margin-bottom: 5.2rem;
}

.testimonial-logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

.logo--box--2 {
    padding-top: 6rem;
    padding-right: 4rem;
}

.about-testiomonial-box {
    display: flex;
    justify-content: space-between;
    max-width: 86rem;
    margin: 0 auto;

    margin-top: 10rem;
}

.testimonial-number-box {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.testimonial-icon {
    background-color: #ffedb6;
    /* padding: 1rem 1.5rem; */
    padding: 1.4rem 0.8rem;
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
}

.extra-color {
    background-color: #d1e8ff;
}

.testimonial-number {
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.2rem;
    color: #000000;
}

.abput-number {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.16rem;
    color: #64626a;
}
